body {
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#intro {
    color: darkred;
}

#intro:visited {
    text-decoration: none;
}

#intro:link {
    text-decoration: none;
}


.box-all:hover {
    cursor: pointer;

}

.opciones:hover {
    cursor: pointer;
}

.opcionestop p {

    color: firebrick    ;
}

.opcionesbot a {
    color: aqua;
}

.opcionesbot a:link {
    text-decoration: none;
}

.opcionesbot a:visited {
    text-decoration: none;
}

#header a {
    color: black;
}

#header a:link {
    text-decoration: none;
}

#header a:visited {
    text-decoration: none;
}